.App{
  color: yellow;
  background-color: slateblue;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App button {
  padding: 20px;
  margin: 10px;
}
